@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

:root {
    color-scheme: light dark;
    --clr-black: #1c1c1c;
    --clr-gray: #ececec;
    --clr-white: #f7f7f7;

    --type-normal: #abd484;
    --type-fire: #f96159;
    --type-water: #40b6da;
    --type-grass: #81fca6;
    --type-electric: #ffee2e;
    --type-ice: #bcc6c7d5;
    --type-fighting: #2740dec9;
    --type-poisson: #963e80;
    --type-ground: #a3884f;
    --type-flying: #c7e7f0;
    --type-psychic: #d9f46c;
    --type-bug: #8a655b;
    --type-rock: #2f3b55bf;
    --type-ghost: #893bf653;
    --type-dark: #715799;
    --type-dragon: #09664d;
    --type-steel: #858d8e;
    --type-fairy: #d6aff0;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body.light-theme{
  --color-bg: var(--clr-gray);
  --color-text: var(--clr-black);
}

body.dark-theme{
  --color-bg: var(--clr-black);
  --color-text: var(--clr-white);
}

body{
  background-color: var(--color-bg);
}

h1{
  color: var(--color-text);
}

body {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
      url('https://i.pinimg.com/originals/6e/f6/2b/6ef62b28c7e65f900ae813a377d99f51.png');
}